@charset "utf-8";

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global styles */
body {
  font-family: "Andika", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(220, 223, 233);
}

/* Header styles */
header {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 63, 103);
  padding: 0 2.5em;
}

/* Heading styles */
h1 {
  color: #e7eaf6;
}

h2 {
  color: #8289b9;
}

/* Navigation styles */

nav > ul {
  display: flex;
  padding: 0;
  gap: 2em;
  font-size: 18px;
  list-style: none;
}

nav > ul > li > a {
  color: #e7eaf6;
  font-weight: bold;
}

nav > ul > li > a:hover {
  color: #8d94c5;
}

/* Section styles */
section {
  margin: 2em;
  background-color: #38598b;
  border-radius: 1em;
  padding: 1em;
}

section > p > a {
  color: #e7eaf6;
}

section > p > a:hover {
  color: #bac1f3;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(17, 63, 103);
  color: #e7eaf6;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer > a {
  color: #e7eaf6;
}

/* Additional styles */
#page-update {
  margin: 0;
}

.hobbies-website {
  display: flex;
  gap: 1em;
}

.hobbies {
  width: 25vw;
}

.favorite-website {
  width: 75vw;
}
